---

---

<nav class="justify-between flex h-20 items-center px-4 max-w-7xl mx-auto">
  <section>
    <div class="h-14">
      <img src="/logo_small.png" alt="logo semillero pixel" class="h-full" />
    </div>
  </section>

  <ul class="flex items-center gap-4">
    <li><a href="/">Inicio</a></li>
    <li><a href="/about">Proyectos</a></li>
    <li><a href="/contact">Ultimas Publicaciones</a></li>
    <li><a href="/contact">Eventos</a></li>
    <li><a href="/contact">Integrantes</a></li>
  </ul>

  <section>
    <button>Contactar</button>
  </section>
</nav>
