---
import ContentPDF from '../core/ContentPDF.astro'

import PDFArquitecturaDeLaInformacionAplicadaEnElDisenoDeUnRepositorioDeRecursosEducativosDeEstatistica from '@assets/pdf/publications/Arquitectura de la información aplicada en el diseño de un repositorio de recursos educativos de estadística.pdf'
---

<section class="px-4 mx-auto max-w-7xl mt-30">
  <div class="flex gap-2 items-center">
    <div class="border-y-2 h-2 border-dashed border-orange-600 flex-1"></div>

    <h2 class="uppercase font-micro5 text-8xl text-orange-600">
      Ultimas Publicaciones
    </h2>
  </div>

  <div class="grid grid-cols-3 border-y mt-20">
    <section class="col-span-1 border-r">
      <ul class="">
        <li class="border-b bg-gray-100">
          <button class="text-left hover:underline">
            Arquitectura de la información aplicada en el diseño de un
            repositorio de recursos educativos de estadística
          </button>
        </li>
        <li class="border-b">
          <button class="text-left">
            Arquitectura de la información aplicada en el diseño de un
            repositorio de recursos educativos de estadística
          </button>
        </li>
        <li class="border-b">
          <button class="text-left">
            Arquitectura de la información aplicada en el diseño de un
            repositorio de recursos educativos de estadística
          </button>
        </li>
        <li class="border-b text-center py-4">
          <a href="/">Ver Más Publicaciones</a>
        </li>
      </ul>
    </section>

    <section class="col-span-2 h-screen overflow-hidden">
      <div class="h-[20vh] gap-4 p-2 overflow-y-auto grid grid-cols-3">
        <div>
          <h4 class="font-bold uppercase">Equipo</h4>
          <ul>
            <li>
              <span>Johan Manuel Alvarez Pinta</span>
            </li>
            <li>
              <span>Johan Manuel Alvarez Pinta</span>
            </li>
            <li>
              <span>Juan Carlos García</span>
            </li>
            <li>
              <span>Juan Manuel Martínez</span>
            </li>
          </ul>
        </div>

        <div>
          <h4 class="font-bold uppercase">Evento</h4>

          <p>
            V Encuentro internacional de semilleros de investigación Prexia 2024
          </p>
        </div>

        <div>
          <h4 class="font-bold uppercase mb-2">Proyecto</h4>
          <p>SisReport</p>
        </div>

        <div>
          <h4 class="font-bold uppercase">Tipo</h4>
          <p>Poster</p>
        </div>
      </div>

      <ContentPDF
        PDF={PDFArquitecturaDeLaInformacionAplicadaEnElDisenoDeUnRepositorioDeRecursosEducativosDeEstatistica}
      />
    </section>
  </div>
</section>
