---

---

<header class="grid grid-cols-3 px-4 gap-8 max-w-7xl mx-auto mt-20">
  <section class="col-span-2 flex flex-col justify-between gap-4 pb-2">
    <h1 class="font-micro5 text-[167px] uppercase leading-20">
      Semillero Pixel
    </h1>

    <div class="border-y-2 h-2 border-dashed"></div>
  </section>

  <section class="flex items-center">
    <p class="text-pretty text-sm">
      Somos un semillero enfocado en la investigación y el desarrollo de
      proyectos web. Deseamos impactar el mundo de la web y crear soluciones
      innovadoras para mejorar la experiencia de los usuarios.
    </p>
  </section>
</header>
