---

---

<header class="grid grid-cols-3 px-4 gap-8 max-w-7xl mx-auto mt-20">
  <section class="col-span-2 flex flex-col justify-between gap-4 pb-2">
    <h1
      id="title"
      class="font-micro5 text-[167px] uppercase leading-20 text-orange-600"
    >
      Semillero Pixel
    </h1>

    <div
      id="title-decoration"
      class="border-y-2 h-2 border-dashed border-orange-600"
    >
    </div>
  </section>

  <section class="flex items-center">
    <p class="text-pretty text-sm">
      Somos un semillero enfocado en la investigación y el desarrollo de
      proyectos web. Deseamos impactar el mundo de la web y crear soluciones
      innovadoras para mejorar la experiencia de los usuarios.
    </p>
  </section>
</header>

<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'

  gsap.registerPlugin(ScrollTrigger)

  // document.fonts.ready.then(() => {
  //   gsap.to('#title, #title-decoration', {
  //     y: -100,
  //     x: -1000,
  //     opacity: 0,
  //     scrollTrigger: {
  //       trigger: '#title',
  //       start: 'top 10%',
  //       end: 'bottom top',
  //       scrub: 1,
  //       markers: true,
  //     },
  //   })
  // })
</script>
